#products {
  margin-top: 5vw;

  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  * {
    font-family: "Poppins", serif;
  }
  body {
    align-self: center;
    width: 1366px;
    margin: 1px auto;
  }

  .icon_d {
    float: left;
    display: inline-block;
  }

  .head-div {
    background-color: rgba(215, 216, 223, 0.719);
    border-radius: 20px;
    min-height: 270px;
    height: 60%;
  }

  .product-img {
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
  }
  .col-card {
    transition: transform 0.2s;
    max-width: 359px;
    height: 455px;
    // text-align: center;
    border-radius: 25px;
    padding: 10px 15px 8px 15px;
    box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.1);
    // margin-top: 30px;
    // margin-right: 10px;
    margin-bottom: 20px;
  }

  .col-card:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.2);
  }

  .title {
    font-size: 16px;
    font-weight: 1000;
    color: rgba(3, 49, 112, 1);
  }
  .tag {
    font-size: 13px;
    margin-top: 15px !important;
    margin-right: 15px !important;
    color: rgba(3, 49, 112, 1);
    border: 1px solid rgba(3, 49, 112, 1);
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 6px;
    font-family: "Roboto", serif;
    z-index: 100;
    float: right;
  }
  .disc {
    background-color: rgba(0, 0, 0, 0.1);
    width: 85px;
    height: 30px;
    margin: 0 !important;
    padding: 5px;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-size: 12px;
    color: rgba(5, 59, 108, 1);
    font-weight: bold;
  }
  p {
    display: inline;
    color: rgb(0, 0, 0);
  }
  .mrow {
    --bs-gutter-x: 1.8rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
  }
  .primarybtn {
    color: #fff;
    height: 48px;
    width: 287px;
    background-color: rgba(5, 59, 108, 1);
    border-radius: 5px;
    text-align: center;
  }
  .category_item {
    width: 300px;
    height: 300px;
    text-align: center;
  }
  .cat-img {
    max-width: 220px;
    max-height: 220px;
    border-radius: 15px;
  }
  .cat-title {
    color: rgba(3, 49, 112, 1);
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  hr{
    size: 0.1px;
    width: 30rem;
    height:0.2px;
    color: rgba(3, 49, 112, 1);
  }
  .filter-btn {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: rgb(5, 0, 0);
    // border-width: 5px;
    // border-color: #f82059;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.238);
    transition: transform 0.2s;
    margin-bottom: 10px;
  }
  
  .filter-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.438);
  }
  .sub-filter-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    text-align: left;
  }
  .filters {
    height: 61px;
    width: 100%;
    border-radius: 20px;
    border: rgb(0, 0, 0);
    position: relative;
    margin-bottom: 30px;
  }

  .filters:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.438);
    background-color: rgba(5, 59, 108, 1);
    .filter-name {
      color: #fff;
    }
  }
  .filters .active {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.438);
    background-color: rgba(5, 59, 108, 1);
  }
  .filter-name {
    font-family: "Roboto";
    font-size: 13px;
    text-align: center;
    margin-left: 45px;
    margin-top: 16px;
  }
  .white-box {
    height: 43px;
    width: 43px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 9px;
    left: 10px;
    text-align: center;
  }
  .filter-img {
    margin-top: 10px;
  }
  select {
    max-width: 300px;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    // .option {
    //   max-width: 200px;
    //   width: 100%;
    //   padding: 16px 20px;
    //   border: none;
    //   border-radius: 4px;
    //   background-color: #f1f1f1;
    // }
  }
  .sidebar {
    flex-grow: 1;
    flex-basis: 300px;
    align-self: start;
    position: sticky;
    top: 40px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding-top: 25px;
  }
  @media screen and (max-width: 780px) {
  }
}
