#post {
    .left-container {
        min-height: 824px;
        width: 346px;
        background-color: rgba(3, 49, 112, 0.05);
        border-radius: 25px;
        margin-bottom: 54px;
        margin-left: 12px;
    }
    .search-container input {
        border: 0px;
        height: 48px;
        width: 295px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 24px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.04);
    }

    .search-container {
        text-align: center;
        position: relative;
        margin-bottom: 54px;
        margin-top: 46px;
    }

    *:focus {
        outline: none;
    }
    .pink-circle {
        height: 30px;
        width: 30px;
        background-color: rgba(223, 54, 105, 1);
        border-radius: 50%;
        margin-left: -36px;
        position: absolute;
        top: 10px;
    }
    .path {
        position: absolute;
        z-index: 1;
        top: 18px;
        margin-left: -29px;
    }
    h1 {
        font-family: "Poppins";
        font-size: 18px;
        color: rgba(5, 59, 108, 1);
        margin-left: 23px;
        margin-bottom: 35px;
    }
    h2 {
        font-family: "Poppins";
        font-size: 16px;
        color: rgba(5, 59, 108, 1);
        margin-left: 24px;
        margin-bottom: 7px;
    }
    .pic-1 {
        margin-left: 23px;
        height: 80px;
        width: 100px;
        border-radius: 15px;
        object-fit: cover;
        margin-bottom: 40px;
    }
    .news-date {
        font-family: "Open Sans";
        font-size: 12px;
        color: rgba(5, 59, 108, 1);
        margin-left: 24px;
    }
    .tags {
        font-family: "Poppins";
        font-size: 18px;
        color: rgba(5, 59, 108, 1);
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 26px;
    }
    .tag-container {
        background-color: rgba(223, 54, 105, 1);
        border-radius: 5px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        align-items: center;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        color: #fff;
        padding: 10px 25px 10px 25px;
        margin: 5px;
        width: auto;
        height: auto;
        margin-bottom: 21px;
    }
    .m-left {
        margin-left: 14px;
    }
    .date-user {
        font-family: "Open Sans";
        font-size: 14px;
        color: rgba(223, 54, 105, 1);
    }
    .main-article-content {
        font-family: "Roboto";
        font-size: 16px;
        color: rgba(151, 159, 197, 1);
        margin-left: 14px;
    }
    .main-title {
        font-family: "Poppins";
        font-size: 31px;
        color: rgba(5, 59, 108, 1);
        margin-left: 14px;
        margin-bottom: 29px;
        margin-top: 34px;
        font-weight: bold;
    }
    .new-padding {
        width: 100px;
        padding: 5px;
    }
    .new-width {
        width: 8px;
    }
    .test-margin {
        margin-left: 6px;
    }
    .img-car {
        height: 447px;
        max-width: 716px;
        width: 100%;
        border: 6px solid #fff;
        border-radius: 25px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.04);
        object-fit: cover;
    }
    button.rec-dot {
        background-color: rgba(233, 237, 255, 1);
        box-shadow: 0 0 1px 3px rgba(233, 237, 255, 0);
        height: 14px;
        width: 14px;
    }
    button.rec-dot:hover,
    button.rec-dot:active,
    button.rec-dot:focus {
        box-shadow: 0 0 1px 3px rgba(0, 27, 119, 0);
        height: 14px;
        width: 14px;
        background-color: rgba(5, 59, 108, 1);
    }
    a{
        text-decoration: none;
    }
    .x{
        margin-top: 100px;
    }
}
