#our-news {
    margin-top: 10vw;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    min-height: 500px;
    height: 100%;
    padding-bottom: 20rem;

    .left-container {
        max-width: 346px;
        width: 100%;
        margin-top: 3rem;

        // .home-header {
        //     // text-align: left;
        // }

        .blue-line {
            margin: unset;
            margin-top: 25px;
        }
    }

    .right-container {
        width: 100%;
        position: absolute;
        right: -160px;
        overflow: hidden;
        min-height: 500px;
        left: 388px;
    }

    .article {
        min-height: 381px;
        max-width: 319px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 25px;
        box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.1);
        position: relative;

        .date {
            position: absolute;
            top: 16px;
            right: 16px;
            height: 44px;
            width: 44px;
            background-color: rgba(223, 54, 105, 1);
            border-radius: 50%;

            font-family: "Roboto", sans-serif;
            font-size: 12px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            padding: 4px 10px;
        }

        .card-img-top {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        .card-title {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            color: rgba(5, 59, 108, 1);
        }

        .card-text {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: rgba(151, 159, 197, 1);
            line-height: 24px;
        }

        .cherry-link {
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: rgba(223, 54, 105, 1);
            text-decoration: none;
            transition: 1s;

            i {
                margin-left: 5px;
                vertical-align: middle;
            }

            &:hover {
                color: #053b6c;
                margin-left: 10px;
            }
        }
    }

    .cherry-button {
        border: none;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        background-color: rgba(223, 54, 105, 1);
        padding: 4px 10px;
        position: absolute;
        bottom: 0;
        transition: 0.5s;

        &:hover {
            background: white;
            border: 1px solid rgba(223, 54, 105, 1);
            i:before {
                color: rgba(223, 54, 105, 1);
            }
        }
    }

    .cherry-button:last-child {
        left: 50px;
    }

    @media only screen and(max-width: 1000px) {
        margin-right: auto;
        justify-content: space-around;
        padding-bottom: 1rem;

        .right-container {
            position: static;
            min-height: unset;
        }

        .cherry-button {
            display: none;
        }
    }
}
