#custom-form {
    h1 {
        font-family: "Poppins", serif;
        font-size: 20px;
        color: #053b6c;
        font-weight: bold;
    }
    hr {
        height: 2px;
        width: 80px;
        color: #053b6c;
        opacity: 100%;
        border-radius: 1px;
    }
    .form-control {
        background-color: rgba(3, 49, 112, 0.05);
        border-radius: 24px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.04);
        font-family: "Open Sans";
        font-size: 12px;
        padding: 10px;
        margin-bottom: 16px;
        border: 0;
    }
    textarea {
        resize: none;
    }
    .form-check-input[type="checkbox"] {
        border-radius: 50%;
    }


    .form-check-label {
        color: #053b6c;
        padding: 15px;
        background-color: rgba(3, 49, 112, 0.05);
        border-radius: 10px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        width: 170px;
        text-align: center;
    }
    .form-check-input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-top: 14px;
    }
    .form-check-input:checked[type="radio"] {
        background-image: url('check.png');
    }

    .form-check-input:checked {
        background-color: rgba(5, 59, 108, 1);
        border-color: rgba(5, 59, 108, 1);
    }
    .form-check-input:checked ~ label {
        color: #fff;
        background-color: #053b6c;
    }
}
