#custom-form {
    h1 {
        font-family: "Poppins";
        font-size: 20px;
        color: #053b6c;
        font-weight: bold;
    }
    hr {
        height: 2px;
        width: 80px;
        color: #053b6c;
        opacity: 100%;
        border-radius: 1px;
    }
    .form-control {
        background-color: rgba(3, 49, 112, 0.05);
        border-radius: 24px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.04);
        font-family: "Open Sans";
        font-size: 12px;
        padding: 10px;
        margin-bottom: 16px;
        border: 0;
    }
    textarea {
        resize: none;
    }
    .form-check-input[type=checkbox] {
        border-radius: 50%;
    }
    .category-button {
        min-height: 55px;
        max-width: 186px;
        height: 100%;
        width: 100%;
        background-color: rgba(3, 49, 112, 0.05);
        border-radius: 15px;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #053b6c;
        text-align: center;
        padding: 9px;
        margin: 2px;
        
    }
    .category-button.active {
        background-color: rgba(5, 59, 108, 1);
        color: white;
    }
}
