#maintenance{
    .title-one{  
        font-family: 'Poppins';
        font-size: 36px;
        color: rgba(5, 59, 108, 1);
        font-weight: bold;
      }
      hr{
          height: 2px;
          width: 80px;
          color: rgba(5, 59, 108, 1);
          opacity: 100%;
          border-radius: 1px;

      }
      p{
        
          font-family: 'Open Sans';
          font-size: 16px;
          color: rgba(151, 159, 197, 1);

      }
      .img-one{
        height: 303px;
        max-width: 400px;
        width: 100%;
        border-radius: 25px;
        border: 6px solid #fff;
        box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.1); 
      }
      .img-container{
          position: relative;
      }
      .img-two{
          position: absolute;
          top: -5rem;
          right: 1rem;
      }
      .img-three{
        position: absolute;
        top: -3rem;
        right: 1rem;
    }
      .img-x{
          position: absolute;
          top: -5rem;
          left: -5rem;
      }
      .mrg-btm{
          margin-bottom: 120px;
      }
      .marg-bottom{
          margin-bottom: 5rem;
      }
}