#nav-bar {
    transition: 0.9s;
    .nav-logo {
        height: 60px;
        width: 60px;
        transition: 0.5s;

    }
    .nav-a {
        color: #173d76;
        text-decoration: #fff;
        margin: 6px;
        padding: 4px;
        font-weight: bold;
        font-family: OpenSans;
    }
    .navbar-toggler{
        background-color: #173d76;
    }
    .active {
        border-bottom: 2px solid rgba(35, 166, 0, 1);
    }
    .test {
        // background-image: linear-gradient(107deg, #0db5fb, #596aecce 55%, #5f64ebc4 101%) !important;
    }
    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.733);
        border-color: rgba(33, 34, 34, 0.26);
    }
    .dropdown-menu.show {
        min-width: 3rem;
        max-width: 3rem;
        text-align: center;
    }
    .dropdown-menu.show[dir="rtl"] {
        min-width: 5rem;
        max-width: 5rem;
        text-align: center;
    }
    .nav-color {
        background-color: rgba(255, 255, 255, 0.933);

        transition: 0.9s;
    }
    .nav-Trans {
        background-color: rgba(255, 255, 255, 0);
        .nav-a {
            color: #173d76;
        }
        .nav-logo {
            height: 110px;
            width: 120px;
            // padding: 10px;
            // background-color: rgba(248, 248, 248, 0.61);
            transition: 0.3s;
        }
        transition: 0.5s;
    }
    // .navbar {
    //     background-color: rgba(255, 255, 255, 0.877);
    //     position: fixed;
    //     top: 0;
    //     width: 100%;
    // }
}
