#loader {
    background: url('../../Home/Assets/Intro-background.png') no-repeat;
    height: 100vh;
    img {
        display: block;
        margin: auto;
        padding-top: 30vh;
    }

    h1 {
        text-align: center;
        color: white;
    }

    .spinner-border {
        display: block;
        margin: auto;
    }
}
