#configurations {
    table,
    th,
    td {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(233, 237, 255, 1);
    }
    td {
        font-family: "Roboto";
        font-size: 14px;
        color: rgba(5, 59, 108, 1);
        height: 53px;
        padding-left: 15px;
        font-weight: bold;
    }
    th {
        font-family: "Roboto";
        font-size: 14px;
        color: rgba(5, 59, 108, 1);
        padding-left: 15px;
        font-weight: 400;
        height: 53px;
        width: 50%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
        overflow-x: auto;
    }
    .table-header {
        background-color: rgba(229, 234, 240, 1);
        border: 1px solid rgba(233, 237, 255, 1);
    }
}
