#blogs {
    .blog-container {
        min-height: 235px;
        width: 811px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 25px;
        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.05);
        margin-left: 27px;
        position: relative;
    }
    @media only screen and(max-width:998px) {
        .blog-container {
            max-width: 811px;
            width: 100%;
            margin-left: 5px;

        
        }
    }
    .date-blog{
        width: 50px;
    }
    .blog-img {
        height: 235px;
        max-width: 270px;
        width: 100%;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        object-fit: cover;
    }
    h1 {
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(5, 59, 108, 1);
        margin-left: 24px;
        margin-bottom: 9px;
        margin-top: 21px;
    }
    p {
        font-family: "Open Sans";
        font-size: 14px;
        color: rgba(151, 159, 197, 1);
        margin-left: 24px;
        margin-bottom: 12px;
    }
    .read {
        font-family: "Roboto";
        font-size: 14px;
        color: rgba(223, 54, 105, 1);
        margin-left: 24px;
        // margin-bottom:22px;
        text-decoration: none;
    }
    .read:hover {
        padding-left: 5px;
        color: rgba(5, 59, 108, 1);
    }
    .arrow {
        margin-left: 5px;
    }
    .pink {
        height: 109px;
        max-width: 109px;
        width: 100%;
        background-color: rgba(223, 54, 105, 0.1);
        border-radius: 25px;
        margin: auto;
        margin-top: 50px;
    }
    h3 {
        font-family: "Roboto";
        font-size: 1.5rem;
        color: rgba(223, 54, 105, 1);
        text-align: center;
        margin: 24px 23px 24px 23px;
        padding-top: 20px;
    }
    @media only screen and(max-width: 790px){
        .pink{
            height: 238px;
            position: absolute;
            bottom: 12.3rem;
            width: 75px;
            right: 15px;
            border-radius: 0px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }
    }
}
