#footer {
    .footer-desc{

        font-family: 'Tajawal', sans-serif;
       font-size: 14px;
       color: rgba(255, 255, 255, 1);
       line-height: 24px;
       margin-top: 16px;

    }

    .footer-background{
        background: url('./Assets/group_100.png') bottom;
        background-size: cover;
        width: 100%;
        margin-top: 6rem;
    }

    .margin-top-footer{
        margin-top: 70px;
    }

    .social-icons-container{
        ul{
            display: flex;
            list-style: none;
        }
    }

    .social-icons{
        a{
            height: 36px;
            width: 36px;
            background-color: rgba(223, 54, 105, 1);
            border-radius: 5px;
            display: inline-block;
            margin: 0 10px 10px 0;
            text-align: center;
            line-height: 40px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: rgba(223, 54, 105, 1) !important;
                background-color: #fff;
                transition: all 0.5s ease;
            }

        }

    }
    h3{

       font-family: 'Poppins';
       font-size: 20px;
       color: rgba(255, 255, 255, 1);
       margin-bottom: 16px;

    }
    .pages-link{
        list-style: none;
        padding-left: 0;

        a{

            font-family: 'Roboto';
            font-size: 14px;
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
            &:hover{
                opacity: 0.9;
            }

        }
    }
    .margin-right{
        margin-right: 95px;
    }
    .text-center{
        color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .clever:hover{
        color:rgba(223, 54, 105, 1);
        opacity: 1;

    }
    p a{
        text-decoration: none;
        color: #fff;
    }
}
