#footer {
    .footer-desc{
       
       font-family: 'Tajawal';
       font-size: 14px;
       color: rgba(255, 255, 255, 1);
       line-height: 24px;

    }
    .footer-background{
        background-color: rgba(5, 59, 108, 1);
    }
}
