#intro {
    background: url('../Assets/Intro-background.png');
    width: 100%;
    background-size: cover;

    .intro-container {
        margin-top: 122px;
    }

    .left-container {
        max-width: 530px;
        width: 100%;

        .home-header {
            margin-bottom: 26px;
        }

        .buttons-container {
            max-width: 410px;
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 2rem;

            a{
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }

            .pink-button {
                background-color: rgba(223, 54, 105, 1);
                border-radius: 5px;
                padding: 0.9rem 2vw;

                &:hover {
                    background: rgba(223, 54, 105, 0);
                    border: 1px solid rgba(255, 255, 255, 1);
                    border-radius: 5px;
                }
            }
        }
    }


    .right-container {
        position: relative;
        min-height: 595px;
        max-width: 592px;
        width: 100%;
        height: 100%;

        .pink-square {
            height: 595px;
            width: 592px;
            //background-color: rgba(223, 54, 105, 1);
            //border: 6px solid rgba(255, 255, 255, 1);
            //border-radius: 103px;
            //box-shadow: 0 3px 60px 0 rgba(0, 0, 0, 0.16);
            //-webkit-transform:  rotate(30deg);
            //-ms-transform:  rotate(30deg);
            //transform:  rotate(30deg);
            position: absolute;
        }


    }

}
